// color
$yellow: #f4d04e;
$black: #000;
$white: #fff;
$grey: #7f7f7f;

//font-size
$font-small: 12px;
$font-base: 14px;
$font-medium: 16px;
$font-heading: 20px;

// border radius
$radius-small: 4px;
$radius-large: 20px;
