@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");
@import "reset";
@import "variables";
@import "mixins/mixins";
@import "components/image";
@import "components/card";
@import "components/label";

body {
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: $yellow;
  @include flex-center;
  height: 100vh;
  padding: 0 24px;
  @media screen and (min-width: 640px) {
    padding: 0;
  }
}
